/**
 * START --- TAILWIND GENERATOR EDIT
 *
 * `yarn rw setup tailwind` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#add-tailwind-to-your-css
 */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/**
 * END --- TAILWIND GENERATOR EDIT
 */

 /* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,500;1,600&display=swap');

 /* Custom css */
 body {
  @apply font-Poppins
}

.btn {
  @apply shadow-md py-3 px-6 rounded-md transition duration-300 hover:bg-white hover:text-ntst-purple;
}

.btn-purple {
  @apply bg-ntst-purple text-white;
}

.btn-white {
  @apply bg-ntst-white;
}

.error {
  @apply text-red-700
}

input.error, textarea.error {
  @apply border-red-700 appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500
}


::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}


::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #003d99;
}

/* Tooltip */
.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50
}
